html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
}
html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}
body {
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
}
body,
pre {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "寰蒋闆呴粦", "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
}
.clear {
  clear: both;
}
.bottom_line {
  border-bottom: 1px solid #f3f3f3;
}
li,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
em {
  font-style: normal;
}
input,
textarea,
button,
a {
  outline: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
fieldset,
textarea,
pre,
div {
  margin: 0;
  font-weight: normal;
  box-sizing: border-box;
}
fieldset,
legend,
textarea,
input,
pre {
  padding: 0;
}
ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
a img,
fieldset {
  border: 0;
}
a {
  text-decoration: none;
}
mark {
  background-color: initial;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #fff;
  -moz-box-shadow: inset 0 0 0 1000px #fff;
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
}
select {
  border-radius: 0;
  -webkit-border-radius: 0;
}
.no-border {
  border: none !important;
}
.mtop15 {
  margin-top: 15px;
}
.mtop20 {
  margin-top: 20px;
}
.clearfix {
  clear: both;
  overflow: hidden;
}
.moreHover {
  color: #d33535;
}
.bodyBg {
  background-color: #fafafa;
}
.moduleBg {
  background-color: #ffffff;
}
.bgcor1 {
  background-color: #c6e0f1;
}
.bgcor2 {
  background-color: #eaf7ff;
}
.border1 {
  border-radius: 6px;
  border: 1px solid #d0edff;
}
.border2 {
  border-radius: 6px;
  border: 1px solid #32b16c;
}
.font-times {
  font-family: "Times New Roman" !important;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main {
  display: block;
  margin: 0 auto;
  background: url(../imgs/index-bg.png) no-repeat bottom center;
}
.header {
  position: relative;
  display: block;
  width: 1100px;
  height: 114px;
  margin: 0 auto;
  padding: 10px 0;
  box-sizing: border-box;
  background: url(../imgs/top_bg.png) no-repeat center bottom;
}
.header .logo {
  float: left;
  /*margin-left: 30px*/
}
.logo > img {
  width: 640px;
}
.header .loginStatusTool {
  float: right;
  margin-right: 30px;
  height: 100%;
}
.header .loginStatusTool dl {
  overflow: hidden;
  height: 100%;
}
.header .loginStatusTool dl dt {
  float: left;
  width: 75px;
  height: 75px;
  background: #7c869a;
  border-radius: 100%;
  margin-top: 10px;
}
.header .loginStatusTool dl dt img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.header .loginStatusTool dl dd {
  float: left;
  margin-left: 35px;
  padding: 24px 0;
}
.header .loginStatusTool .userName,
.header .loginStatusTool dl dd h4 {
  color: #535353;
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 4px;
}
.msg {
  position: relative;
  margin-right: 5px;
}
.msg > img {
  margin-top: 4px;
}
.msg p {
  position: absolute;
  top: 21px;
  right: -4px;
  width: 24px;
  height: 24px;
  font-size: 14px;
  background: #2b90d9;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  line-height: 24px;
}
.header .loginStatusTool dl dd span {
  padding-right: 10px;
}
.header .loginStatusTool .signIn,
.header .loginStatusTool .signOut,
.header .loginStatusTool dl dd > div span {
  color: #535353;
  font-size: 14px;
}
.die {
  color: #2b90d9 !important;
}
.die:before {
  content: "|";
  color: #727784;
  margin-right: 7px;
}
.header .loginStatusTool dl dd > div span {
  padding-left: 5px;
}
.topNav {
  display: block;
  width: 100%;
  height: 53px;
  min-width: 1200px;
  border-radius: 8px 8px 0 0;
  background: url(../imgs/nav_ban.png) center repeat-x;
}
.topNav .nav {
  display: block;
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
.topNav ul {
  float: left;
  margin-left: 40px;
  overflow: hidden;
}
.topNav ul li {
  float: left;
  color: #e1e1e1;
  height: 54px;
  line-height: 54px;
  padding: 0 30px;
  text-align: center;
}
.topNav ul li a {
  display: block;
  color: #e1e1e1;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}
.topNav ul li.sel {
  color: #ffffff;
}
.topNav ul li.sel a {
  position: relative;
  color: #ffffff;
}
.topNav ul li.sel a:after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -7px;
  bottom: -7px;
  width: 14px;
  height: 14px;
  background: #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.topNav ul li.vLine {
  width: 2px;
  margin: 5px 6px 0;
  padding: 0;
  background: url(../imgs/v-line.png) center no-repeat;
}
.content {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px #829ab9;
  background: #eee;
}
.footer {
  color: #fff;
  width: 100%;
  height: 37px;
  min-width: 1200px;
  line-height: 37px;
  font-size: 12px;
  text-align: center;
  background: url(../imgs/footer_ban.png);
}
.block-title {
  display: block;
  color: #efefef;
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  padding-left: 10px;
  border-bottom: 1px solid #535353;
}
.title-bg4 {
  background: url(../imgs/title-bg4.png) no-repeat left center;
}
.title-bg5 {
  background: url(../imgs/title-bg5.png) no-repeat left center;
}
.title-bg6 {
  background: url(../imgs/title-bg6.png) no-repeat left center;
}
.news {
  position: relative;
  display: block;
  width: 305px;
}
.news .list li {
  line-height: 41px;
  overflow: hidden;
  border-bottom: 1px dotted #afafaf;
}
.news .list li a {
  color: #393939;
  font-size: 15px;
}
.news .list li a:visited {
  color: gray;
}
.news .list li .name {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news .list li .date {
  float: right;
  text-align: right;
}
.more {
  position: absolute;
  color: #2b90d9;
  width: 48px;
  height: 10px;
  bottom: 8px;
  right: 15px;
  line-height: 13px;
  font-size: 16px;
}
.more:hover a {
  background: url(../imgs/more-hover.png) no-repeat right center;
}
.more a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../imgs/more-def.png) no-repeat right center;
}
.content {
  background-color: #ffffff;
}
.content .zxxw-box,
.content .dwgg-box {
  float: left;
  height: 100%;
}
.content .zxxw-box {
  width: 744px;
}
.content .dwgg-box {
  width: 456px;
}
.c-top {
  height: 422px;
}
.c-middle {
  height: 470px;
}
.c-bottom {
  height: 490px;
}
.zxxw {
  height: 100%;
  padding-top: 32px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
}
.zxxw .newList .new {
  padding: 10px;
  border-bottom: 1px dotted #afafaf;
}
.zxxw .newList .new .date {
  font-size: 18px;
  margin-bottom: 6px;
}
.zxxw .newList .new .title {
  font-size: 15px;
}
.zxxw .newList .new a:visited {
  color: gray;
}
.dwgg {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 32px 15px 0;
  background-color: #ffffff;
}
.dwgg .list .name {
  width: 190px;
}
.dwgg .list li:last-child {
  border-bottom: none;
}
.dwgg .bottom-line {
  position: absolute;
  width: 426px;
  bottom: 0;
  height: 0;
  border-bottom: 1px solid #333333;
}
.dwxxq {
  height: 100%;
  padding-top: 32px;
  background-color: #ffffff;
}
.dwxxq .border {
  margin: 0 15px;
}
.dwxxq .titles {
  height: 36px;
  overflow: hidden;
  border-left: 1px solid #535353;
  border-right: 1px solid #535353;
  background-color: #c0c0c0;
}
.dwxxq .titles .t1,
.dwxxq .titles .t2,
.dwxxq .titles .t3 {
  float: left;
  height: 100%;
}
.dwxxq .titles .t1 .t,
.dwxxq .titles .t2 .t,
.dwxxq .titles .t3 .t {
  display: block;
  color: #2b90d9;
  width: 121px;
  height: 100%;
  font-size: 18px;
  line-height: 39px;
  margin-left: 15px;
  text-align: center;
  background: url(../imgs/diamond.png) no-repeat center bottom;
}
.dwxxq .titles .t1 {
  width: 510px;
}
.dwxxq .titles .t2 {
  width: 386px;
}
.dwxxq .titles .t3 {
  width: 270px;
}
.dwxxq .studyList {
  border-left: 1px solid #535353;
  border-right: 1px solid #535353;
  border-bottom: 1px solid #535353;
}
.dwxxq .studyList .item {
  border-bottom: 1px dotted #b5b5b5;
  overflow: hidden;
}
.dwxxq .studyList .item .name,
.dwxxq .studyList .item .date,
.dwxxq .studyList .item .author {
  float: left;
  padding-left: 10px;
  line-height: 36px;
  font-size: 15px;
}
.dwxxq .studyList .item .name {
  width: 510px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dwxxq .studyList .item .date {
  width: 386px;
  border-left: 1px dotted #b5b5b5;
  border-right: 1px dotted #b5b5b5;
}
.dwxxq .studyList .item .author {
  width: 270px;
}
.dwxxq .studyList .item:last-child {
  border-bottom: none;
}
.dwxxq .more {
  bottom: auto;
  top: 40px;
  right: 20px;
  font-size: 16px;
}
.gsxzwj {
  height: 100%;
  background-color: #ffffff;
}
