html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
}
html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}
body {
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
}
body,
pre {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "寰蒋闆呴粦", "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
}
.clear {
  clear: both;
}
.bottom_line {
  border-bottom: 1px solid #f3f3f3;
}
li,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
em {
  font-style: normal;
}
input,
textarea,
button,
a {
  outline: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
fieldset,
textarea,
pre,
div {
  margin: 0;
  font-weight: normal;
  box-sizing: border-box;
}
fieldset,
legend,
textarea,
input,
pre {
  padding: 0;
}
ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
a img,
fieldset {
  border: 0;
}
a {
  text-decoration: none;
}
mark {
  background-color: initial;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #fff;
  -moz-box-shadow: inset 0 0 0 1000px #fff;
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
}
select {
  border-radius: 0;
  -webkit-border-radius: 0;
}
.no-border {
  border: none !important;
}
.mtop15 {
  margin-top: 15px;
}
.mtop20 {
  margin-top: 20px;
}
.clearfix {
  clear: both;
  overflow: hidden;
}
.moreHover {
  color: #d33535;
}
.bodyBg {
  background-color: #fafafa;
}
.moduleBg {
  background-color: #ffffff;
}
.bgcor1 {
  background-color: #c6e0f1;
}
.bgcor2 {
  background-color: #eaf7ff;
}
.border1 {
  border-radius: 6px;
  border: 1px solid #d0edff;
}
.border2 {
  border-radius: 6px;
  border: 1px solid #32b16c;
}
.font-times {
  font-family: "Times New Roman" !important;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main {
  display: block;
  margin: 0 auto;
  background: url(../imgs/index-bg.png) no-repeat bottom center;
}
.header {
  position: relative;
  display: block;
  width: 1100px;
  height: 114px;
  margin: 0 auto;
  padding: 10px 0;
  box-sizing: border-box;
  background: url(../imgs/top_bg.png) no-repeat center bottom;
}
.header .logo {
  float: left;
  /*margin-left: 30px*/
}
.logo > img {
  width: 640px;
}
.header .loginStatusTool {
  float: right;
  margin-right: 30px;
  height: 100%;
}
.header .loginStatusTool dl {
  overflow: hidden;
  height: 100%;
}
.header .loginStatusTool dl dt {
  float: left;
  width: 75px;
  height: 75px;
  background: #7c869a;
  border-radius: 100%;
  margin-top: 10px;
}
.header .loginStatusTool dl dt img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.header .loginStatusTool dl dd {
  float: left;
  margin-left: 35px;
  padding: 24px 0;
}
.header .loginStatusTool .userName,
.header .loginStatusTool dl dd h4 {
  color: #535353;
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 4px;
}
.msg {
  position: relative;
  margin-right: 5px;
}
.msg > img {
  margin-top: 4px;
}
.msg p {
  position: absolute;
  top: 21px;
  right: -4px;
  width: 24px;
  height: 24px;
  font-size: 14px;
  background: #a60100;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  line-height: 24px;
}
.header .loginStatusTool dl dd span {
  padding-right: 10px;
}
.header .loginStatusTool .signIn,
.header .loginStatusTool .signOut,
.header .loginStatusTool dl dd > div span {
  color: #535353;
  font-size: 14px;
}
.die {
  color: #a50000!important;
}
.die:before {
  content: "|";
  color: #727784;
  margin-right: 7px;
}
.header .loginStatusTool dl dd > div span {
  padding-left: 5px;
}
.topNav {
  display: block;
  width: 100%;
  height: 53px;
  min-width: 1200px;
  border-radius: 8px 8px 0 0;
  background: url(../imgs/nav_ban.png) center repeat-x;
}
.topNav .nav {
  display: block;
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
.topNav ul {
  float: left;
  margin-left: 40px;
  overflow: hidden;
}
.topNav ul li {
  float: left;
  color: #e1e1e1;
  height: 54px;
  line-height: 54px;
  padding: 0 30px;
  text-align: center;
}
.topNav ul li a {
  display: block;
  color: #e1e1e1;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}
.topNav ul li.sel {
  color: #ffffff;
}
.topNav ul li.sel a {
  position: relative;
  color: #ffffff;
}
.topNav ul li.sel a:after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -7px;
  bottom: -7px;
  width: 14px;
  height: 14px;
  background: #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.topNav ul li.vLine {
  width: 2px;
  margin: 5px 6px 0;
  padding: 0;
  background: url(../imgs/v-line.png) center no-repeat;
}
.content {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px #829ab9;
  background: #eee;
}
.footer {
  color: #fff;
  width: 100%;
  height: 77px;
  min-width: 1200px;
  line-height: 77px;
  font-size: 12px;
  text-align: center;
  background: url(../imgs/footer_ban.png);
}
.block-title {
  display: block;
  color: #efefef;
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  padding-left: 10px;
  border-bottom: 1px solid #535353;
}
.title-bg4 {
  background: url(../imgs/title-bg4.png) no-repeat left center;
}
.title-bg5 {
  background: url(../imgs/title-bg5.png) no-repeat left center;
}
.title-bg6 {
  background: url(../imgs/title-bg6.png) no-repeat left center;
}
.news {
  position: relative;
  display: block;
  width: 305px;
}
.news .list li {
  line-height: 41px;
  overflow: hidden;
  border-bottom: 1px dotted #afafaf;
}
.news .list li a {
  color: #393939;
  font-size: 15px;
}
.news .list li .name {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news .list li .date {
  float: right;
  text-align: right;
}
.more {
  position: absolute;
  color: #a60000;
  bottom: 8px;
  right: 15px;
  line-height: 13px;
  padding-right: 10px;
  font-size: 16px;
  background: url(../imgs/arrow-red.png) no-repeat right center;
}
.more:hover a {
  color: #d33535;
}
.more a {
  color: #a60000;
  font-family: "Calibri-Bold";
}
.content {
  padding-bottom: 26px;
  background-color: #ffffff;
}
.c-top,
.c-bottom {
  overflow: hidden;
}
.c-top .tq-box,
.c-bottom .tq-box,
.c-top .gzsx-box,
.c-bottom .gzsx-box,
.c-top .dbsx-box,
.c-bottom .dbsx-box,
.c-top .yfsx-box,
.c-bottom .yfsx-box,
.c-top .cybd-box,
.c-bottom .cybd-box,
.c-top .cylxr-box,
.c-bottom .cylxr-box {
  float: left;
  position: relative;
  height: 100%;
}
.c-top {
  height: 528px;
  padding-top: 15px;
}
.c-top .c-top-btns {
  display: none;
  overflow: hidden;
  margin-bottom: 10px;
}
.c-top .c-top-btns a {
  float: left;
  color: #ffffff;
  width: 171px;
  height: 62px;
  line-height: 62px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}
.c-top .c-top-btns a.first {
  margin-left: 0;
}
.c-top .c-top-btns a.btn_red {
  background: url(../imgs/btn_05.png) no-repeat center center;
}
.c-top .c-top-btns a.btn_gray {
  background: url(../imgs/btn_03.jpg) no-repeat center center;
}
.c-top .c-top-left,
.c-top .c-top-right {
  float: left;
  height: 100%;
}
.c-top .c-main {
  height: 513px;
  overflow: hidden;
}
.c-top .c-top-left {
  width: 305px;
}
.c-top .c-top-right {
  width: 895px;
}
.c-bottom {
  height: 449px;
  margin-top: 15px;
}
.tq {
  height: 100%;
  margin: 0 15px;
  background: url(../imgs/weather-bg.png) no-repeat center bottom;
}
.tq .block-title {
  margin-left: -15px;
  margin-bottom: 15px;
}
.tq .title {
  position: absolute;
  color: #a60000;
  top: 2px;
  left: 27px;
  font-size: 20px;
  font-weight: bold;
  padding-right: 20px;
  background: url(../imgs/arrow-bottom.png) no-repeat right center;
}
.tq .city {
  color: #666666;
  font-size: 16px;
  padding-left: 20px;
  margin-left: 15px;
  background: url(../imgs/arrow-right.png) no-repeat left center;
}
.tq .weather .icon {
  width: 48px;
  height: 48px;
  margin: 56px auto 0;
  background: url(../imgs/sun.png) no-repeat center center;
}
.tq .weather .temperatre {
  color: #ec5560;
  font-size: 24px;
  text-align: center;
  margin: 11px 0 17px;
}
.tq .weather .date {
  color: #666666;
  font-size: 14px;
  text-align: center;
}
.dbsx {
  height: 100%;
  background-color: #ffffff;
}
.dbsx .tabs {
  position: absolute;
  right: 0;
  top: 7px;
}
.dbsx .tabs .tab {
  position: relative;
  display: inline-block;
  color: #333333;
  width: 113px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.dbsx .tabs .tab.def {
  background: url(../imgs/diamond-def.png) no-repeat center center;
  z-index: 2;
}
.dbsx .tabs .tab.sel {
  background: url(../imgs/diamond-sel.png) no-repeat center center;
  z-index: 10;
}
.dbsx .tabs .tab:last-child {
  margin-left: -18px;
  margin-right: 10px;
}
.dbsx .items .item .info {
  width: 473px;
}
.dbsx #project-manager {
  display: none;
}
.cybd {
  height: 100%;
  margin: 0 15px;
}
.cybd .tabs {
  position: absolute;
  right: 16px;
  top: 8px;
  padding-right: 10px;
  background: url(../imgs/arrow-red.png) no-repeat right center;
}
.cybd .tabs a {
  color: #a60000;
}
.cybd .tabs a:hover {
  color: #d33535;
}
.cybd .form {
  margin-top: 6px;
}
.cybd .form .f-item {
  float: left;
  text-align: center;
  width: 50%;
  border-bottom: 1px dotted #b5b5b5;
  margin-top: 8px;
  padding-bottom: 4px;
}
.cybd .form .f-item img {
  width: 32px;
  height: 35px;
}
.cybd .form .f-item .name {
  width: 80%;
  margin: 4px auto 0;
  color: #666666;
  font-size: 15px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cybd .form .f-item .padbottom0 {
  padding-bottom: 0;
}
.cybd .form > li {
  padding-top: 6px;
  padding-bottom: 6px;
  overflow: hidden;
  border-bottom: 1px dotted #b5b5b5;
}
.cybd .form > li .f-item {
  float: left;
  width: 50%;
  text-align: center;
}
.cybd .form > li .f-item img {
  width: 32px;
  height: 35px;
}
.cybd .form > li .f-item .name {
  color: #666666;
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
  line-height: 14px;
}
.cybd .form > li.padbottom0 {
  padding-bottom: 0;
}
.gzsx {
  height: 100%;
  margin: 0 15px;
}
.gzsx .items .item .info {
  width: 188px;
}
.cylxr {
  height: 100%;
  margin: 0 15px;
}
.cylxr .contacts .contact {
  position: relative;
  display: block;
  padding: 12px 0 12px 84px;
  border-bottom: 1px dotted #b5b5b5;
}
.cylxr .contacts .contact .avatar {
  position: absolute;
  left: 0;
  width: 64px;
  height: 64px;
}
.cylxr .contacts .contact .avatar img {
  width: 100%;
  height: 100%;
}
.cylxr .contacts .contact .name {
  color: #333333;
  font-size: 16px;
  padding: 18px 0 4px;
}
.cylxr .contacts .contact .job {
  color: #666666;
  font-size: 12px;
}
.gzsx .block-title {
  width: 290px;
  margin-left: -15px;
}
#collaborative-office {
  height: 100%;
  background-color: #ffffff;
}
#collaborative-office .items .item .info .name {
  width: 480px;
}
.items {
  padding-top: 24px;
}
.items .item {
  height: 55px;
  overflow: hidden;
}
.items .item .date {
  float: left;
  color: #31271e;
  width: 86px;
  font-size: 12px;
  line-height: 55px;
  border-right: 1px solid #a3a3a3;
  text-align: center;
}
.items .item .date em {
  font-size: 16px;
}
.items .item .info {
  float: left;
  font-size: 15px;
  padding: 7px 0 6px 15px;
}
.items .item .info .name {
  color: #333333;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.items .item .info .name a {
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.items .item .info .status {
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.items .item .info .status a {
  color: #a60000;
  margin: 0 5px;
}
.items .item:hover {
  background: #fff;
}
.items .item:hover .date {
  border-right: 1px solid #a60000;
}
.tq-box,
.gzsx-box {
  width: 305px;
}
.dbsx-box,
.yfsx-box {
  width: 590px;
}
.cybd-box,
.cylxr-box {
  width: 305px;
}
