body,
p,
ul,
li {
  margin: 0;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../imgs/login-bg.jpg) no-repeat center center;
  background-size: cover;
  z-index: -1;
}
.logo {
  position: absolute;
  width: 600px;
  height: 128px;
  left: 50%;
  top: 30%;
  margin-left: -300px;
}
.logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.login-box {
  position: absolute;
  width: 600px;
  height: 60px;
  left: 50%;
  top: 47%;
  margin-left: -300px;
  padding: 15px;
  background: red;
  box-sizing: border-box;
}
.login-box input {
  border: none;
  box-sizing: border-box;
}
.login-box input[type='text'],
.login-box input[type='password'] {
  width: 200px;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
}
.login-box input[type='button'] {
  color: #ffffff;
  width: 120px;
  text-align: center;
  background-color: initial;
  background-color: blue;
}
.navs {
  float: right;
  margin-top: 47px;
  margin-right: 20%;
  z-index: 20;
}
.navs > ul {
  overflow: hidden;
}
.navs > ul > li {
  float: left;
  list-style: none;
  padding: 0px 10px;
}
.navs > ul > li > a {
  display: block;
  color: #dae8f5;
  height: 46px;
  font-size: 26px;
  line-height: 26px;
  text-decoration: blink;
}
.navs > ul > li .sub-navs {
  position: absolute;
  display: none;
  width: 100%;
  height: 92px;
  left: 0;
  margin-top: 2px;
  background: url(../imgs/line_11.png) repeat-x;
}
.navs > ul > li .sub-navs ul {
  float: right;
  width: 700px;
  margin-right: 22%;
  overflow: hidden;
}
.navs > ul > li .sub-navs ul li {
  float: left;
  width: 16.6%;
  height: 92px;
  text-align: center;
  list-style: none;
}
.navs > ul > li .sub-navs ul li a {
  display: block;
  color: #dae8f5;
  font-size: 22px;
  line-height: 92px;
  text-decoration: blink;
}
.navs > ul > li .sub-navs ul li a:hover {
  color: #eb6622;
}
.navs > ul > li:hover {
  border-bottom: 2px solid #eb6622;
}
.navs > ul > li:hover > .sub-navs {
  display: block;
}
.navs > ul > li:hover a {
  color: #eb6622;
}
.navs > ul .first a {
  background: none;
}
.navs > ul .v-line {
  float: left;
  width: 13px;
  height: 26px;
  padding: 0;
  border-bottom: none !important;
  background: url(../imgs/line_03.png) no-repeat center center;
}
