.content {
  overflow: hidden;

}
.c-top {
  width: 100%;
  height: 422px;
  overflow: hidden;
  > div {
    float: left;
    height: 100%;
  }
  .jtxw, .yjxw {
    padding: 32px 15px 20px;
    li:last-child{
      border-bottom: initial;
    }
  }
  .loop-imgs {
    width: 590px;
  }
}

.c-bottom-left {
  float: left;
  width: 880px; 
  height: 383px;
  padding-top: 32px;
  background-color: #fff;
  .cywz, .dszzc {
    float: left;
    height: 351px;
    overflow: hidden;
  }

  .cywz {
    width: 265px;
    margin-right: 40px;
    padding-left: 15px;
    .list {
      li{
        padding: 15px 0 15px 0;
        border-bottom: 1px dotted;
      }
      .info{
        .icon {
          float: left;
          width: 100px;
          height: 20px;
        }
        .name {
          float: right;
          line-height: 20px;
          width: 100px;
          text-align: right;
        }
      }
      .url a {
        color: blue;
        text-decoration: initial;
      }
    }
  }

  .dszzc {
    width: 575px;
    .detail {
      margin-top: 12px;
      overflow: hidden;
      .avatar, .desc {
        float: left;
        overflow: hidden;
      }
      .avatar {
        img{
          width: 211px;
          height: 300px;
        }
      }
      .desc {
        position: relative;
        width: 339px;
        height: 253px;
        margin-top: 50px;
        padding-left: 20px;
        margin-right: 25px;
        padding-right: 20px;
        word-wrap: break-word;
        background: url(../imgs/3.png) no-repeat right 19px;
        h2 {
          text-align: right;
        }
        .text {
          margin-top: 12px;
        }
      }

    }
  }

  .gp {
    height: 370px;
    .gpgg, .gpxx {
      float: left;
    }
    .gpgg {
      width: 265px;
      height: 100%;
      padding: 32px 0 20px 15px;
      margin-right: 40px;
      .list {
        margin-top: 8px;
      }
      .more {
        right: 0;
      }
    }
    .gpxx {
      position: relative;
      width: 575px;
      padding-top: 32px;
      padding-right: 20px;
      .more {
        bottom: auto;
        top: 40px;
        right: 20px;
      }
      .kline {
        padding-top: 12px;
        height: 306px;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.c-bottom-right {
  float: left;
  width: 320px;
  height: 773px;
  background: #fff;
  padding: 32px 15px 0;
  .gsgk {
    position: relative;
    height: 100%;
    img {
      width: 100%;
    }
    .gsjj-img {
      margin-top: 24px;
      margin-bottom: 13px;
    }
    .title {
      color: red;
      margin: 6px 0;
    }
    p {
      line-height: 24px;
    }
    .more {
      right: 0;
      bottom: 10px;
    }
  }
}

.footer {
  color: #fff;
  width: 100%;
  height: 77px;
  line-height: 77px;
  font-size: 12px;
  text-align: center;
  background: url(../imgs/footer_ban.png);
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
