@import "reset.less";
@import "common.less";

.content{
    padding-bottom: 26px;
    background-color: #ffffff;
}
.c-top, .c-bottom{
    .tq-box, .gzsx-box, .dbsx-box, .yfsx-box, .cybd-box, .cylxr-box{
        float: left;
        position: relative;
        height: 100%;
    }
    overflow: hidden;
}
.c-top{
    height: 451+77px;
    padding-top: 15px;
    .c-top-btns{
        display: none;
        overflow: hidden;
        margin-bottom: 10px;
        a{
            float: left;
            color: #ffffff;
            width: 171px;
            height: 62px;
            line-height: 62px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            margin-left: 10px;
            &.first{
                margin-left: 0;
            }
            &.btn_red{
                background: url(../imgs/btn_05.png) no-repeat center center;
            }
            &.btn_gray{
                background: url(../imgs/btn_03.jpg) no-repeat center center;
            }
        }
    }
    .c-top-left, .c-top-right{
        float: left;
        height: 100%;
    }
    .c-main{
        height: 439px + 74px;
        overflow: hidden;
    }
    .c-top-left{
        width: 305px;
    }
    .c-top-right{
        width: 305+590px;
    }
}
.c-bottom{
    height: 449px;
    margin-top: 15px;
}

.tq{
    height: 100%;
    margin:0 15px;
    background: url(../imgs/weather-bg.png) no-repeat center bottom;
    .block-title{
        margin-left: -15px;
        margin-bottom: 15px;
    }
    .title{
        position: absolute;
        color: #a60000;
        top: 2px;
        left: 27px;
        font-size: 20px;
        font-weight: bold;
        padding-right: 20px;
        background: url(../imgs/arrow-bottom.png) no-repeat right center;
    }
    .city{
        color: #666666;
        font-size: 16px;
        padding-left: 20px;
        margin-left: 15px;
        background: url(../imgs/arrow-right.png) no-repeat left center;
    }
    .weather{
        .icon{
            width: 48px;
            height: 48px;
            margin: 56px auto 0;
            background: url(../imgs/sun.png) no-repeat center center;
        }
        .temperatre{
            color: #ec5560;
            font-size: 24px;
            text-align: center;
            margin: 11px 0 17px;
        }
        .date{
            color: #666666;
            font-size: 14px;
            text-align: center;
        }
    }
}

.dbsx{
    height: 100%;
    .moduleBg;
    .tabs{
        position: absolute;
        right: 0;
        top: 7px;
        .tab{
            position: relative;
            display: inline-block;
            color: #333333;
            width: 113px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            &.def{
                background: url(../imgs/diamond-def.png) no-repeat center center;
                z-index: 2;
            }
            &.sel{
                background: url(../imgs/diamond-sel.png) no-repeat center center;
                z-index: 10;
            }
            &:last-child{
                margin-left: -18px;
                margin-right: 10px;
            }
        }
    }
    .items .item{
        .info{ 
            width: 473px;
        }
    }
    #project-manager{
        display: none;
    }
}

.cybd{
    height: 100%;
    margin: 0 15px;
    .tabs{
        position: absolute;
        right: 16px;
        top: 8px;
        padding-right: 10px;
        background: url(../imgs/arrow-red.png) no-repeat right center;
        a{
            color: #a60000;
            &:hover{
                .moreHover;
            }
        }
    }
    .form{
        margin-top: 6px;
        .f-item{
            float: left;
            text-align: center;
            width: 50%;
            border-bottom: 1px dotted #b5b5b5;
            margin-top: 8px;
            padding-bottom: 4px;
            img{
                width: 32px;
                height: 35px;
            }
            .name{
                width: 80%;
                margin: 4px auto 0;
                color: #666666;
                font-size: 15px;
                line-height: 14px;
                .text-ellipsis;
            }
            .padbottom0{
                padding-bottom: 0;
            }
        }
        > li{
            padding-top: 6px;
            padding-bottom: 6px;
            overflow: hidden;
            border-bottom: 1px dotted #b5b5b5;
            .f-item{
                float: left;
                width: 50%;
                text-align: center;
                img{
                    width: 32px;
                    height: 35px;
                }
                .name{
                    color: #666666;
                    width: 80%;
                    margin: 0 auto;
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }
        > li.padbottom0{
            padding-bottom: 0;
        }
    }
}

.gzsx{
    height: 100%;
    margin: 0 15px;
    .items .item{
        .info{
            width: 188px;
        }
    }
}

.cylxr{
    height: 100%;
    margin: 0 15px;
    .contacts{
        .contact{
            position: relative;
            display: block;
            padding: 12px 0 12px 84px;
            border-bottom: 1px dotted #b5b5b5;
            .avatar{
                position: absolute;
                left: 0;
                width: 64px;
                height: 64px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .name{
                color: #333333;
                font-size: 16px;
                padding: 18px 0 4px;
            }
            .job{
                color: #666666;
                font-size: 12px;
            }
        }
    }
}

.cybd, .gzsx, .cylxr{
    .block-title{
        width: 290px;
        margin-left: -15px;
    }
}

#collaborative-office{
    height: 100%;
    .moduleBg;
}

.items{
    padding-top: 24px;
    // margin-left: 15px;
    // margin-right: 15px;
    .item{
        height: 55px;
        overflow: hidden;
        .date{
            float: left;
            color: #31271e;
            width: 86px;
            font-size: 12px;
            line-height: 55px;
            border-right: 1px solid #a3a3a3;
            text-align: center;
            em{
                font-size: 16px;
            }
        }
        .info{
            float: left;
            font-size: 15px;
            padding: 7px 0 6px 15px;
            .name{
                color: #333333;
                margin-bottom: 6px;
                .text-ellipsis;
            }
            .status{
                color: #666666;
            }
        }
        &:hover{
            .date{
                border-right: 1px solid #a60000;
            }
            background: #fff;
        }
    }
}

.tq-box, .gzsx-box{
    width: 305px;
}

.dbsx-box, .yfsx-box{
    width: 590px;
}

.cybd-box, .cylxr-box{
    width: 305px;
}